.vscode
build
test
Pine
www/dxgzg_src/img/
www/dxgzg_src/pictureList.json
www/dxgzg_src/msg.json
main.cpp
cmake-build-debug-remote-host/*
cmake-build-debug/*
.idea/*
.vscode/*
检查问题
.clion.source.upload.marker
1.txt
erroPine

