			*{
				padding: 0px;
				margin: 0px;
			}
			a{
				cursor: pointer;
				text-decoration:none;
				color: none;
			}
			a:hover{
				opacity: 0.8;
			}
			p{
				text-indent: 2em;
			}
			.fix{
				content:"";
				display: table;
				clear: both;
			}
			.head{
				height: 380px;
				background-color: #395692;
				width: 100%;
			}
			.t1{
				width: 100%;
				height: 50px;
				margin-top: 15px;
			}
			.ur{
				float: right;
				margin-top: -10px;
				list-style: none;
			}
			.ur li{
				float: left;
				margin-left: 35px;
				color: white;
				font-weight: 600;
			}
			.tr a{
				color: white;
			}
			.tl a{
				color: white;
			}
			.tr{
				margin-right: 50px;
			}
			.tl{
				font-family: sans-serif;
				color: white;
				font-size: 18px;
				font-weight: 800;
				margin-left: 20px;
			}
			.t2{
				font-family: "微软雅黑";
				color: white;
				font-size: 60px;
				font-weight: 800;
				letter-spacing: 10px;
				width: 340px;
				height: 80px;
				text-align: center;
			}
			.t3{
				width: 340px;
				height: 40px;
				border-top: 4px solid white;
				font-family: "微软雅黑";
				color: white;
				font-size: 20px;
				font-weight: 500;
				text-align: center;
				letter-spacing: 5px;
				margin-top:10px ;
			}
			.tt{
				top:100px;
				margin: 80px auto;
				width: 340px;
				height: 100px;
			}
			.footer{
				width: 100%;
				height: 50px;
				line-height: 50px;
				color: #a3a3a3;
				font-size: 20px;
				text-align: center;
				border-top: 2px solid gainsboro;
			}
