<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="renderer" content="webkit">
    <!--360模式固定极速模式-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--禁止百度转码-->
    <title>dxgzg留言板</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.common.dev.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/vue-resource.js"></script>
	<script src="https://unpkg.com/axios@0.21.3/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/common.css" />
    <link rel="icon" href="img/ico.png" />
    <style>

    </style>

</head>

<body>
    <div class="t1 fix">
        <ul class="ur">
            <li><a href="secondIndex.html">主页</a></li>
            <li><a href="article.html">文章</a></li>
            <li><a href="leavingMsg.html">留言</a></li>
            <li><a href="download.html">开源工具下载</a></li>
        </ul>
    </div>
    <div class="container" id="mybox">
        <form action="" role="form">
            <div class="form-group">
                <label for="MSGLabel">可以在这里输入留言信息哦！</label>
                <input v-model="newMsg" type="text" id="msg" class="form-control" placeholder="例如:智智好帅">
            </div>
            <div class="form-group">
                <input type="button" value="添加" class="btn btn-primary" @click="add()">
                
            </div>
        </form>
        <hr/>
        <table class="table table-border table-hover">
            <caption class="h2 text-info">留言表一览</caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">内容</th>
            </tr>
            <tr class="text-center" v-for="(item,index) in myData" :key="item.id">
                <td>{{index}}</td>
                <td>{{item.content}}</td>
            </tr>
        </table>
        <!--模态框 弹出框-->
    </div>

    <script>
        let v = new Vue({
            el: '#mybox',
            data: {
                myData:[],
                newMsg: '',
            },
            mounted: function() {
                this.getData()
                console.log(this.myData)
            },
            methods: {
                add: function() {
                    if (this.newMsg === "") return;
                    let str = `/addMsg`
                    this.$http.post(str, {
                        content: this.newMsg
                    }).then(function() {
                        this.getData()
                        this.newMsg = ''
                    })
                },
                deleteMsg: function(index) {
                    if (index == -2) {
                        this.myData = []
                    } else {
                        this.myData.splice(index, 1);
                    }
                },
                getData: function() {
                    //发送get请求
                    /*this.$http.get('msg.json', {}).then(function(resp) {
                        //alert(resp);
                        let res = resp.data.LeavingMsg
                        this.myData = res
                        console.log(res)
                    }, function() {
                        alert('请求失败处理');
                    });*/
					let that = this;
					axios.get('msg.json').then(function(response){
						console.log(response);
						that.myData = response.data.LeavingMsg;
					},function(err){
					
					});
                }
            }

        })
    </script>
</body>

</html>