<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Player</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!--<script src="./vue.js"></script>-->
<script src="https://unpkg.com/axios@0.21.3/dist/axios.min.js"></script>
<body>
<div id="player">
    <!--    <p>{{musicUrl}}</p>-->
    输入查询的歌手名字:<input type="text" v-model="queryMusic" @keyup.enter="searchMusic">
    <button @click="searchMusic">查询</button>
    <ul>
        <li v-for="item in musicList">
            <p @click="playMusic(item.id)" title="可以点击">{{item.name}}</p>
        </li>
    </ul>
    <!--  歌曲封面  -->
    <div>
        <img :src="musicPic" v-if="musicPic.length !== 0" height="400" width="400">
    </div>
    <!--  音乐播放  -->
    <div>
        <audio :src="musicUrl" v-if="musicUrl.length !== 0" controls autoplay loop>
        </audio>
    </div>
    <!--评论-->
    <div>
        <h1 v-if="hotComments.length !== 0">热门评论</h1>
        <ul>
            <li v-for="item in hotComments">
                {{item.content}}
            </li>
        </ul>
    </div>


</div>
<script>
    const player = new Vue({
        el: '#player',
        data: {
            queryMusic: "五月天",
            musicList: [],
            musicUrl: "",
            musicPic: "",
            // 歌曲评论
            hotComments: [],
        },
        methods: {
            searchMusic: function () {
                let that = this;
                // console.log("https://autumnfish.cn/search?keywords="+ that.queryMusic);
                axios.get("https://autumnfish.cn/search?keywords=" + this.queryMusic).then(function (response) {
                    console.log(response);
                    that.musicList = response.data.result.songs;
                }, function (err) {
                    console.log(`error:${err}`)
                });
            },
            playMusic: function (musicId) {
                console.log(musicId);
                let that = this;
                // 获取歌曲播放url https://autumnfish.cn/song/url?id=
                axios.get("https://autumnfish.cn/song/url?id=" + musicId).then(
                    function (response) {
                        // console.log(response);
                        console.log(response.data.data[0].url);
                        that.musicUrl = response.data.data[0].url;
                    }, function (err) {
                        console.log(`err:${err}`);
                    });

                // 获取歌曲封面 https://autumnfish.cn/song/detail?ids=
                axios.get("https://autumnfish.cn/song/detail?ids=" + musicId).then(function (response) {
                    that.musicPic = response.data.songs[0].al.picUrl;
                    console.log(`musicPic:${response.data.songs[0].al.picUrl}`);
                    // console.log(`music response:${response.data}`);
                    console.log(response);
                }, function (err) {
                    console.log(`err:${err}`);
                });

                // 获取歌曲的歌手姓名   https://autumnfish.cn/song/detail?ids=

                // 获取热门评论 https://autumnfish.cn/comment/hot?type=0&id=
                axios.get("https://autumnfish.cn/comment/hot?type=0&id=" + musicId)
                    .then(function (response) {
                        console.log(response);
                        that.hotComments = response.data.hotComments;

                    }, function (err) {
                        console.log(`获取评论error:${err}`);
                    });

            }
        },
    });
</script>
</body>
</html>